<button id="edflix-button" class="btn btn-lg btn-primary" data-bind="click: onClick, text: text"></button>

<span id="url" data-bind="text: url"></span>

<div id="edflix-menu" class="dropdown-menu col-sm-4">
    <form class="form-horizontal">
        <div class="row form-group">
            <label class="col-form-label col-sm-2" for="relevance">Relevance:</label>
            <input id="relevance" class="form-control form-control-sm col-sm-8" type="text" data-bind="value: relevance">
        </div>

        <div class="row form-group">
            <label class="col-form-label col-sm-2" for="content">Content:</label>
            <input id="content" class="form-control form-control-sm col-sm-4" type="text" data-bind="value: content">
        </div>

        <div class="row form-group">
            <label class="col-form-label col-sm-2" for="understanding">Understanding:</label>
            <input id="understanding" class="form-control form-control-sm col-sm-4" type="text" data-bind="value: understanding">
        </div>
    </form>
</div>
